In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
data=pd.read_csv('iris.csv')
data

     sepal_length  sepal_width  petal_length  petal_width      class
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
data.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
data["class"]=encoder.fit_transform(data["class"])

In [5]:
data.corr()

              sepal_length  sepal_width  petal_length  petal_width     class
sepal_length      1.000000    -0.109369      0.871754     0.817954  0.782561
sepal_width      -0.109369     1.000000     -0.420516    -0.356544 -0.419446
petal_length      0.871754    -0.420516      1.000000     0.962757  0.949043
petal_width       0.817954    -0.356544      0.962757     1.000000  0.956464
class             0.782561    -0.419446      0.949043     0.956464  1.000000

In [6]:
X=data.drop(["sepal_width","class"],axis=1)

In [7]:
X

     sepal_length  petal_length  petal_width
0             5.1           1.4          0.2
1             4.9           1.4          0.2
2             4.7           1.3          0.2
3             4.6           1.5          0.2
4             5.0           1.4          0.2
..            ...           ...          ...
145           6.7           5.2          2.3
146           6.3           5.0          1.9
147           6.5           5.2          2.0
148           6.2           5.4          2.3
149           5.9           5.1          1.8

[150 rows x 3 columns]

In [8]:
y=data["class"]
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: class, Length: 150, dtype: int64

In [9]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
pipe1=Pipeline([('lr',LogisticRegression())])
pipe2=Pipeline([('RFC',RandomForestClassifier())])
pipe3=Pipeline([('nb',GaussianNB())])
pipe4=Pipeline([('knn',KNeighborsClassifier(n_neighbors=3))])
pipe5=Pipeline([('dtc',DecisionTreeClassifier())])

In [10]:
pipe1.fit(X_train,y_train)
pipe2.fit(X_train,y_train)
pipe3.fit(X_train,y_train)
pipe4.fit(X_train,y_train)
pipe5.fit(X_train,y_train)

Pipeline(steps=[('dtc', DecisionTreeClassifier())])

In [11]:
pipe1.score(X_test,y_test)

1.0

In [12]:
pipe2.score(X_test,y_test)

1.0

In [13]:
pipe3.score(X_test,y_test)

1.0

In [14]:
pipe4.score(X_test,y_test)

1.0

In [15]:
pipe5.score(X_test,y_test)

1.0

In [16]:
labels=y.unique()
print(labels)
labels=list(encoder.inverse_transform(labels))

[0 1 2]

In [17]:
labels

['setosa', 'versicolor', 'virginica']